<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="host" value="localhost" />
    <add key="port" value="6379" />
    <add key="auth" value="" />
    <!-- Para Usar a configuração abaixo apenas colocar [-old] para as configurações acima! -->
    <add key="host-old" value="redis-11401.c11.us-east-1-2.ec2.cloud.redislabs.com" />
    <add key="port-old" value="11401" />
    <add key="auth-old" value="TXiejBYXIoCYj5HyoSHQFdevfvTrBGD4" />

    <add key="defaultCollection" value="negocie-coins" />
  </appSettings>
</configuration>